*,
*:after,
*:before {
  box-sizing: border-box;
}

.global_container {
  height: 100vh;
  min-height: 100%;
  background: #E0E5ED;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 0;
}


