.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.container {

}

.home {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.title {
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
  color: #fff;
  width: 400px;
}

.cards {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.card {
  width: 102px;
  height: 112px;
  text-align: center;
  background: #121212;
  padding-top: 20px;

  .card__value {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
  }

  .card__label {
    color: #fff;
    margin-top: 10px;
    opacity: 0.4;
  }
}
